/*******************************************************/
/********************** GENERAL ************************/
/*******************************************************/

$white = #ffffff
$black = #000000
$turquoise = #70bd95
$yellow = #fed061
$red = #FF453E
$green = #70bd95

$regular_font = "Gotham A", "Gotham B", sans-serif
$condensed_font = "Gotham Cond A", "Gotham Cond B", sans-serif


body {
	font-family: $regular_font
	
	p {
		margin: 0;
	}
	
	
}

h1,h2,h3{
	font-family: $condensed_font
}


/*******************************************************/
/*********************** HEADER ************************/
/*******************************************************/


.intro {
	background: black;
	//background: url("../images/intro-background.jpg") no-repeat 50%;
	//background-size: cover;
	height 80vh;
	min-height: 600px;
	.intro-content {
		position: relative;
		height: 100%;
		
		color: $turquoise;

		.top-logo-wrapper{
			background: $turquoise;
			.top-logo {
				max-width: 140px;
				width: 30%;
				display: block;
				margin: 0 auto;
				padding: 3% 0;
			}
		}
		
		.mid-content{
			position: relative;
			width: 80%;
			height: 60%;
			max-width: 480px;
			margin: 0 auto;
			display: block;
		}
		
		.mid-logo {
			position: absolute;
			top: 10%;
			width: 100%;
			display: block;
		}
		
		.intro-text-bottom {
			font-family: $condensed_font;
			font-weight: 300;
			font-style: normal;
			font-size: 2em;
			position: absolute;
			bottom: 0;
		}
	}
	.call-to-action{
		position absolute;
		bottom 0;
		width 100%;
	}
	
}


/*******************************************************/
/*********************** WELCOME ***********************/
/*******************************************************/

.welcome {
	background: white;
	color: black;
	padding: 10%;
	font-family: $condensed_font;
	font-weight: 300;
		p {
			padding-bottom: 1em;
			font-size: 1.4em;
			line-height: 1.5em;
			max-width: 600px;
			margin: 0 auto;
		}
}



/*******************************************************/
/********************* SINGLE TIP **********************/
/*******************************************************/

.tips {
	background: black;
	padding-bottom: 2em;
	
	.tips-text {
		color: $white;
		padding: 20px;
		font-size: 30pt;
		font-family: $condensed_font;
	}
	
	.tip {
		
		.tip-teaser {
			
			display: inline-block;
			margin: 5%;
			height: 200px;
			width: 90%;
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			font-family: $condensed_font;
			font-weight: 500;
			
			.number-box, .text-box{
				float: left;
				position: relative;
				display: block;
				height: 35px;
				top: 60%;
			}
			
			.number-box {
				margin: 0 7px 0 -19px;
				text-align: center;
				font-size: 20pt;
				background: $yellow;
				width: 35px;
			}
			
			.text-box {
				font-size: 18pt;
				background: $turquoise;
				color: black;
				padding-right: 7px;
				line-height: 35px;
				text-transform: uppercase;
				
				.play {
					margin: 8px;
					float: left;
				    border-top: 10px solid transparent;
				    border-left: 15px solid black;
				    border-bottom: 10px solid transparent;
				}
				
				.text-box-title{
					float:left;
				}
				
			}

		}
		
		.tip-content {
			background: $yellow;
			display: none;
			
			&.open{
				display block
				position: relative;
				margin-top: -230px;
	    		z-index: 0;
			}
			
			.vimeo-content {
				background: $white;
				height: 180px;
			}
			
			.tip1-content {
				padding: 1em;
				
				.movie-tips {

					h2 {
						font-size: 12pt;
						text-transform: uppercase;
						border-bottom 2px solid $black;
						line-height: 40px;
					}
					
					.movie-poster {
						display: inline-block;
						
						h3	{
							text-decoration: underline;
						    float: left;
						    padding-left: .5em;
						    margin: 0;
						}
						
						img {
							height: 200px;
							float: left;
						}
						
						.movie-excerpt {
							float: left;
						    width: 40%;
						    font-size: 8pt;
						    padding: .5em;
						}
					}
				}
				
				.share-tip {
					padding-top: 2em;
					
					h2 {
						font-size: 12pt;
						text-transform: uppercase;
					}
					
					input {
						border: none;
						border-radius: 2px;
						height: 28px;
						width: 120px;
					}
					
					input::-webkit-input-placeholder { /* WebKit browsers */
	  					padding-left: 0.5em;
					}
					
					.socialmedia-icons {
						float: right;
						margin-top: -5px;
						
						img {
							width: 35px;
							height: 35px;
							padding: 3px 5px 3px 3px;
						}
					}
					
					.next-tip {
						display: none;
					}
				}
			}
		}
	}
}

.hidden {
	display: none;
}




/*******************************************************/
/********************* COMPONENTS **********************/
/*******************************************************/

.dates {
	background: $yellow;
	width: 100%;
}



.call-to-action {
	display: block;
	background: $turquoise;
	text-align: center;
	color: white;
	padding: 2em 0;
	width: 100%;

	a {
		font-family: $condensed_font;
		text-transform: uppercase;
		font-size: 18pt;
		color: $black;
		text-decoration: none;
	}
}


/*******************************************************/
/********************** INSTAGRAM **********************/
/*******************************************************/

.instagram-feed {
	background: $black;
	width: 100%;
	
	.top-content {
		width: 100%;
		padding: 2em 0 0 0;
		
		.about-info {			
			.about-text {
				color: $green
				font-size: 1.8em;
			}
		}
		
		.hashtag-box {			
			.hashtag-info {
				font-size: 1.4em;
				font-weight: bold;
				text-transform: uppercase;
				color: $green;
			}
		}
		
		.instagram-box {			
			.all-images {
				#instafeed {
					a {
						float: left;
					}
				}
		
				.more-images {
					color: black;
					background: $green;
					float: left;
					font-size: 1.2em;
					margin: 0;
					text-align: center;
					text-transform: uppercase;
					text-decoration: none;
					vertical-align: middle;
					
					&:after {
						clear: both;
						content: '';
						display: table;
					}
				}
				
				&:after {
					clear: both;
					content: '';
					display: table;
				}
			}
		}
	}
}

/*******************************************************/
/*********************** FOOTER ************************/
/*******************************************************/

.footer-content {
	background: black;
	
	h2 {
		padding-top: 2em;
		text-align: center;
		margin: 0 auto;
		color: $yellow;
	}
	
	.footer-logo{
		margin: 0 auto;
		display: block;
	}
	
	.logo-smicker {
		margin-top: 3em;
		width: 40%;
	}
	
	.logo-vinnovera {
		margin-top: 3em;
		width: 40%;
	}
}
