/*******************************************************/
/********************** GENERAL ************************/
/*******************************************************/

$white = #ffffff
$black = #000000
$turquoise = #70bd95
$yellow = #fed061
$red = #FF453E

$regular_font = "Gotham A", "Gotham B", sans-serif
$condensed_font = "Gotham Cond A", "Gotham Cond B", sans-serif

$activeTipHeight = 1200px

body {
	font-family: $regular_font
	
	p {
		margin: 0;
	}
	
	
}

h1,h2,h3{
	font-family: $condensed_font
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
	max-width: 80%;
	padding: 0 10%;
}

h2 {
	font-size 2em;
}


/*******************************************************/
/*********************** HEADER ************************/
/*******************************************************/


.intro {
	background: black;
	min-height: 600px;
	.intro-content {		
		color: $turquoise;

		.top-logo-wrapper{
			background: $turquoise;
			.top-logo {
				background: url("../images/sff_logo_black.svg") no-repeat center center;
				max-width: 140px;
				height: 140px;
				width: 30%;
				display: block;
				margin: 0 auto;
				padding: 3% 0;
			}
		}
		
		.mid-content{
			width: 80%;
			max-width: 480px;
			margin: 0 10%;
			display: block;
		
		
			.mid-logo {
				background: url("../images/logo2.svg") no-repeat center center;
				margin: 10% 0;
				max-width: 480px;
				width: 100%;
				height: 350px;
			}
			
			.intro-text-bottom {
				font-family: $condensed_font;
				font-weight: 300;
				font-style: normal;
				font-size: 2em;
				padding: 1em 0;
			}
		}
	}
	.call-to-action{
		bottom 0;
	}
	
}


/*******************************************************/
/*********************** WELCOME ***********************/
/*******************************************************/

.welcome {
	background: white;
	color: black;
}

.text-block {
	padding: 10%;
	font-family: $condensed_font;
	font-weight: 300;
		p {
			padding-bottom: 1em;
			font-size: 1.4em;
			line-height: 1.5em;
			max-width: 600px;
			margin: 0 auto;
		}
}



/*******************************************************/
/********************* MOVIES***************************/
/*******************************************************/
.movies{
	background: $black;
	overflow: hidden;
}

.tips-text {
		color: $white;
		padding: 20px;
		font-size: 30pt;
		font-family: $condensed_font;
}


.tips {
	padding: 1em 0;
	margin: 0;
	list-style: none;
	background: black;
	/*
		MODAL OVERLAY&
		.active {
		position: relative;
		z-index: 1;
		.tip.active .teaser{
			display: none
		}
		.content{
			position: relative;
			
				
				&:after{
				position: fixed
				z-index: -1;
				background: rgba(0,0,0,0.5);
				content: '';
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
			
			}
		}
	}*/
	.tip {
		padding: 0;
		margin: 2em 0;
		box-sizing: border-box;
		
		&.active {
			
			.content {
				display: block;
			}
			
		}
		
		.teaser {
			display: block;
			position: relative;
			width: 90%;
			margin-left: 10%;
			padding: 40% 0 20% 0;
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			font-family: $condensed_font;
			font-weight: 500;
			text-decoration: none;
			color: black;
			text-transform: uppercase;
			
			.number-box, .text-box-title{
				float: left;
				display: block;
				height: 35px;
			}
			
			.number-box {
				margin: 0 7px 0 -5%;
				text-align: center;
				font-size: 20pt;
				background: $yellow;
				width: 35px;
			}
			
			.text-box-title {
				font-size: 20pt;
				background: $turquoise;
				color: black;
				padding-right: 10px;
				line-height: 35px;
				text-transform: uppercase;
			}

			.text-box-title:before {
				content: '';
				float: left;
				margin: 7px 5px 5px 13px;
				border-top: 10px solid transparent;
				border-left: 14px solid black;
				border-bottom: 10px solid transparent;
			}
		}
		
		.content {
			display: none;
			width: 100%;
			overflow: visible;
			background: $yellow;
			margin-top: 50px;
			padding-bottom: 2em;
			position: relative;
			.back-btn{
				position: absolute;
				font-family: $condensed_font;
				color: white;
				top: -34px;
				right: 5px;
				text-transform: uppercase;
				font-size: 14pt;
				padding-right: 1px;
				border-bottom: 2px solid white;
				cursor: pointer;
				&:before {
					content: '';
					float: left;
					margin: 7px 5px 5px 3px;
					border-top: 5px solid transparent;
					border-right: 8px solid white;
					border-bottom: 5px solid transparent;
				}
			}

			.video {
				width: 100%;
				min-height: 220px;
			}
			
			h2 {
				text-transform: uppercase;
				text-decoration: underline;
				line-height: 40px;
				padding-left: 10px;
				}
			
			.movie-tips {
				overflow-x: scroll;
				
				.related-movies{
					width: 900px;
					padding-left: 10px;
					
					.movie-poster {
						display: inline-block;
						width: 300px;
						
					
						h3	{
							text-decoration: underline;
						    float: left;
						    padding-left: .5em;
						    margin: 0;
						}
						
						img {
							height: 200px;
							float: left;
						}
						
						.movie-excerpt {
							float: left;
						    width: 40%;
						    font-size: 8pt;
						    padding: 1em;
						}
					}
				}
			}
			
			.share-tip {
				padding-top: 2em;
				
				h2 {
					font-size: 12pt;
					text-transform: uppercase;
				}
				
				input {
					float: left;
					margin-left: 10px;
					border: none;
					border-radius: 2px;
					height: 28px;
					width: 120px;
				}
				
				input::-webkit-input-placeholder {
  					padding-left: 0.5em;
				}
				
				.socialmedia-icons {
					margin-top: -5px;
					
					img {
						width: 35px;
						height: 35px;
						padding: 3px 5px 3px 3px;
					}
				}
				
				.next-tip {
					display: none;
				}
			}
		}
	}
	
}


.hidden {
	display: none;
}




/*******************************************************/
/********************* COMPONENTS **********************/
/*******************************************************/

.dates {
	background: $yellow;
	width: 100%;
}



.call-to-action {
	display: block;
	color: $turquoise;
	padding: 2em 10%;
	width: 80%;
	font-family: $condensed_font;
	text-transform: uppercase;
	font-size: 18pt;
	text-decoration: none;
	font-weight: 400;
	letter-spacing: .1em;
	cursor: pointer;
	p {
		margin: 0;
		position: relative;
		display: inline-block;
		padding-right: 40px;
		&:after {
			content: '';
			background: url(/images/arrow_green.svg) no-repeat center center;
			background-size: 20px
			width: 32px;
			height: 29px;
			top: 0;
			right: 0;
			display: block;
			position: absolute;
		}
	}
	
	&.neg{
		p:after{
			background-image: url(/images/arrow.svg);
		}
		background-color: $turquoise;
		color: white;
	}
}


/*******************************************************/
/********************** INSTAGRAM **********************/
/*******************************************************/

.instagram-feed {
	background: $black;
	width: 100%;
	font-family: $condensed_font;
	color: $turquoise;
	
	.top-content {
		width: 100%;
		padding: 2em 0 0 0;

		
		.instagram-box {			
			.all-images {
				#instafeed {
					a {
						float: left;
					}
				}
		
				.more-images {
					color: $turquoise;
					background: black;
					float: left;
					font-size: 1.2em;
					margin: 0;
					text-align: center;
					text-transform: uppercase;
					text-decoration: none;

					span:before {
						content: '';
						display: inline-block;
						height: 100%;
						vertical-align: middle;
					}
					
					&:after {
						clear: both;
						content: '';
						display: table;
					}
				}
				
				&:after {
					clear: both;
					content: '';
					display: table;
				}
			}
		}
	}
}

/*******************************************************/
/************************ DATES ************************/
/*******************************************************/
.dates {
	background: $turquoise;
	font-family: $condensed_font;
	font-size: 2em;
	width: 100%;
	
	.dates-content {
		margin: 0 auto;
		padding: 10%;
		
		a {
			border-bottom: solid white 4px;
			color: $white;
			line-height: 50px;
			text-decoration: none;
		}
		
		p {
			color: $white;
			letter-spacing: 0.05em;
			margin: 1em auto;
			text-transform: uppercase;
			line-height: 35px;
		}
	}
}


/*******************************************************/
/*********************** FOOTER ************************/
/*******************************************************/

.footer-content {
	background: black;
	font-family: $condensed_font;
	font-weight: 500;
	padding: 10% 5%;
	text-align: center;
	
	h2 {
		margin: 0;
		padding-top: 2em;
		color: $turquoise;
	}
	
	p {
		color: $turquoise;
		font-size: 1.5em;
		text-transform: uppercase;
	}
	
	.footer-logo{
		display: block;
		margin: 3em auto;
		height: 125px;
		max-width: 220px;
		width: 60%;
	}
	
	.logo-smicker {
		background: url(/images/smicker_logo.svg) no-repeat center center;
	}
	
	.logo-vinnovera {
		background: url(/images/vinnovera_standing_logo.svg) no-repeat center center;
	}
}
