/*******************************************************/
/********************** GENERAL ************************/
/*******************************************************/

$white = #ffffff
$black = #000000
$turquoise = #B0F7E7
$yellow = #EDD400
$red = #FF453E

body {
	font-family: "Verlag A", "Verlag B";
	
	p {
		margin: 0;
	}
	
	
	
	
}


/*******************************************************/
/*********************** HEADER ************************/
/*******************************************************/


.dates {
	background: $yellow;
	width: 100%;
}