/*******************************************************/
/************************ MENU *************************/
/*******************************************************/

.main-menu {
	z-index: 2;
	width: 100%;
	background: $black;
	height: 50px;
	
	ul {
		text-align: center;
		margin: 0;
		color: $white;

		li {
			display: inline-block;
			padding-left: 0px;
			margin-left: 1%;
			margin-right: 1%;
			
			a {
				font-family: $condensed_font;
				letter-spacing: 1px;
				font-size: 18pt;
				text-transform: uppercase;
				color: $white;
				text-decoration: none;
				padding: 10px;
				float: left;
			}
		}
	}
}
/*******************************************************/
/************************* INTRO************************/
/*******************************************************/

.intro .intro-content .mid-content .intro-text-bottom {
	font-size: 2.9em;
}
/*******************************************************/
/*********************** HEADER ************************/
/*******************************************************/


.intro {
	.intro-content {		
		color: $turquoise;
		
		.mid-content{
			margin: 0 auto;
		}
	}	
}

/*******************************************************/
/************************* TIP ************************/
/*******************************************************/
.movies{
	background: white;
}

.tips-text {
		color: $white;
		padding: 20px;
		font-size: 30pt;
		font-family: $condensed_font;
}


.tips {
	padding: 0;
	margin: 0;
	list-style: none;
	
	&.active {
		position: relative;
		background: $turquoise;
		padding-top: $activeTipHeight;
		
		.tip {
			width: (100% / 5);
			margin-bottom: -1px;
		
			.teaser {
				
				.number-box{
					font-size: 22pt;
				}
				
				.text-box-title {
				top: 38%;
				height: 28px;
				font-size: 20pt;
				line-height: 41px;
					&:before {
						border-top: 11px solid transparent;
						border-left: 16px solid black;
						border-bottom: 11px solid transparent;
					}
				}
			}
		
		}
	}
		
	.tip {
		float: left;
		width: (100% / 3);
		padding: 0;
		margin: 0;
		background: red;
		box-sizing: border-box;
		
		&.active {
			border: 10px solid $yellow;
			
			.teaser{
				padding: 38% 0 40.56% 0;
				.number-box{
					top: -10px;
					left: -10px;
				}
			}
			
			.content {
				display: block;
			}
			
		}

		.teaser {
			display: block;
			position: relative;
			width: 100%;
			margin: 0;
			padding: 38% 0 42% 0;
			background-color: $yellow;
			text-align: center;
			
			&:hover {
				background-image: none !important;
				
				.text-box-title {
					display: inline-block;
					visibility: visible;
				}
			}

			.number-box {
				position: absolute;
				left: 0;
				top: 0;
				margin: 0;
				width: 42px;
				height: 42px;
				text-align: center;
				font-size: 27pt;
				line-height: 42px;
				background: $yellow;
			}
			
			.text-box-title {
				display: inline-block;
				visibility: hidden;
				position: relative;
				height: 0;
				font-size: 32pt;
				line-height: 50px;
				padding-left: .8em;
				background: none;
				float: none;
				clear: both;
			}

			.text-box-title:before {
				content: '';
				position: absolute;
				float: none;
				margin: 10px 5px 5px -.8em;
				border-top: 15px solid transparent;
				border-left: 25px solid black;
				border-bottom: 15px solid transparent;
			}
		}
		
		.content {
			display: none;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			//height: $activeTipHeight;
			overflow: visible;
			margin-top: 0;
			background: $turquoise;
			color: white;
			.back-btn{
				color: black;
			}
			.video {
				width: 100%;
				max-height: 680px;
				min-height: 0;
				height: calc(100vh - 71px);
			}
			
			.movie-tips	.related-movies .movie{
				margin: 0 3%;
				width: 26%;
				max-width: 320px;
					
			}
		}
	}
	
}
/*******************************************************/
/********************** INSTAGRAM **********************/
/*******************************************************/

.instagram-feed {	
	.top-content {		
		
		.hashtag-box {
			display: block;
			text-align: center;
			
			.hashtag-info {
				width: 100%;
			}
		}
		
		.instagram-box {
			width: 100%;
			
			.all-images {		
				a {
					position: relative;
					float: left;
					width: 12.5%;
					padding-bottom: 12.5%;
					
					img,span {
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}
	
	&:after {
		clear: both;
		content: '';
		display: table;
	}
}



/*******************************************************/
/*********************** WELCOME ***********************/
/*******************************************************/

.text-block {
	padding: 3%;
	font-family: $condensed_font;
	font-weight: 300;
		p {
			padding-bottom: 1em;
			font-size: 1.7em;
			line-height: 1.55em;
		}
}




/*******************************************************/
/********************* COMPONENTS **********************/
/*******************************************************/
.call-to-action{
	text-align:center;
}

/*******************************************************/
/************************ DATES ************************/
/*******************************************************/
.dates {	
	.dates-content {
		padding: 3%;
		max-width: 600px;
	}
}

/*******************************************************/
/*********************** FOOTER ************************/
/*******************************************************/

.footer-content {
	padding: 5%;
		
	.footer-logo{
		display: inline-block;
		margin: 3em 1em;
		width: 20%;
	}
	
	.logo-vinnovera {
		background: url(/images/vinnovera_logo.svg) no-repeat center center;
	}
}