/*******************************************************/
/************************ MENU *************************/
/*******************************************************/

.main-menu {
	z-index: 2;
	width: 100%;
	background: $black;
	height: 50px;
	
	ul {
		text-align: center;
		margin: 0;
		color: $white;

		li {
			display: inline-block;
			padding-left: 0px;
			margin-left: 1%;
			margin-right: 1%;
			
			a {
				font-family: $condensed_font;
				letter-spacing: 1px;
				font-size: 18pt;
				text-transform: uppercase;
				color: $white;
				text-decoration: none;
				padding: 10px;
				float: left;
			}
		}
	}
}

/*******************************************************/
/*********************** HEADER ************************/
/*******************************************************/

.intro {
	min-height: 900px;
	.intro-content {
		width: 100%;
		
		.intro-text-bottom{
			bottom: 20%;
		}
	}
}


/*******************************************************/
/************************* TIP ************************/
/*******************************************************/
.movies{
	background: $black;
}

.tips-text {
		color: $white;
		padding: 20px;
		font-size: 30pt;
		font-family: $condensed_font;
}


.tips {
	padding: 0;
	margin: 0;
	list-style: none;
	
	&.active {
		position: relative;
		padding-top: $activeTipHeight;
		
		.tip {
			width: (100% / 5);
		
			.teaser {
				
				.number-box{
					font-size: 22pt;
				}
				
				.text-box-title {
				top: 38%;
				height: 28px;
				font-size: 20pt;
				line-height: 41px;
					&:before {
						border-top: 11px solid transparent;
						border-left: 16px solid black;
						border-bottom: 11px solid transparent;
					}
				}
			}
		
		}
	}
		
	.tip {
		float: left;
		width: (100% / 3);
		padding: 0;
		margin: 0;
		background: red;
		box-sizing: border-box;
		
		&.active {
			border: 10px solid $yellow;
			
			.teaser{
				padding: 38% 0 40.56% 0;
				.number-box{
					top: -10px;
					left: -10px;
				}
			}
			
			.content {
				display: block;
			}
			
		}

		.teaser {
			display: block;
			position: relative;
			width: 100%;
			margin: 0;
			padding: 38% 0 42% 0;
			background-color: $yellow;
			text-align: center;
			
			&:hover {
				background-image: none !important;
				
				.text-box-title {
					display: inline-block;
					visibility: visible;
				}
			}

			.number-box {
				position: absolute;
				left: 0;
				top: 0;
				margin: 0;
				width: 42px;
				height: 42px;
				text-align: center;
				font-size: 27pt;
				line-height: 42px;
				background: $yellow;
			}
			
			.text-box-title {
				display: inline-block;
				visibility: hidden;
				position: relative;
				height: 0;
				font-size: 32pt;
				line-height: 50px;
				padding-left: .8em;
				background: none;
				float: none;
				clear: both;
			}

			.text-box-title:before {
				content: '';
				position: absolute;
				float: none;
				margin: 10px 5px 5px -.8em;
				border-top: 15px solid transparent;
				border-left: 25px solid black;
				border-bottom: 15px solid transparent;
			}
		}
		
		.content {
			display: none;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			//height: $activeTipHeight;
			overflow: visible;
			margin-top: 0;
			background: black;
			color: white;
			.back-btn{
				color: black
				border-color: black
				&:before{
					border-right: 8px solid black;
				}
			}
			.video {
				width: 100%;
				min-height: 640px;
			}
			
			h2 {
					font-size: 12pt;
					text-transform: uppercase;
					border-bottom 2px solid $black;
					line-height: 40px;
				}
			
			.movie-tips {
				overflow-x: scroll;
				
				.related-movies{
					width: 900px;
					
					.movie-poster {
						display: inline-block;
						width: 300px;
					
						h3	{
							text-decoration: underline;
						    float: left;
						    padding-left: .5em;
						    margin: 0;
						}
						
						img {
							height: 200px;
							float: left;
						}
						
						.movie-excerpt {
							float: left;
						    width: 40%;
						    font-size: 8pt;
						    padding: 1em;
						}
					}
				}
			}
			
			.share-tip {
				padding-top: 2em;
				
				h2 {
					font-size: 12pt;
					text-transform: uppercase;
				}
				
				input {
					border: none;
					border-radius: 2px;
					height: 28px;
					width: 120px;
				}
				
				input::-webkit-input-placeholder {
  					padding-left: 0.5em;
				}
				
				.socialmedia-icons {
					float: right;
					margin-top: -5px;
					
					img {
						width: 35px;
						height: 35px;
						padding: 3px 5px 3px 3px;
					}
				}
				
				.next-tip {
					display: none;
				}
			}
		}
	}
	
}
/*
.tips {
	background: $yellow;
	padding 0;
	position: relative;
	
	&.open{
		min-height: 100vh;
		background: black;
	}
	
	.tips-text {
		display: none;
	}
	
	.tip-teaser{
		display: block;
		position: relative
		float:left;
		width: (100% / 3);
		padding-bottom: (100% / 3);
		height: 0;
		overflow:hidden;
		
		&.thumbs {
			width: (100% / 6);
			padding-bottom: (100% / 6);
			margin-top: 90vh;
			background: black;
			
			.number-box {
				font-size: 17pt;
				width: 30px;
				height: 30px;
			}
			&.active{
				background: $yellow
			}
			
			}

			.tip-teaser-content {
				margin: 0;
				width: 100%;
				height: 0;
				padding-bottom: 100%;
				text-align: center;
				&:hover {
					background-image: none!important;
					background-color: $yellow;
					
					.text-box {
						display: inline-block;
					}
				}
				
				.number-box {
					position: absolute;
					top: 0;
					left: 0;
					text-align: center;
					font-size: 27pt;
					background: $yellow;
					width: 50px;
					height: 50px;
					margin: 0;
				}
				
				.text-box {
					display: none;
					position: relative;
					height: 50px;
					font-size: 32pt;
					line-height: 50px;
					background: none;
					float: none;
					clear: both;
					padding-top: 42%;
					
					.play {
						margin: 5px 5px 5px 13px;
						float: left;
					    border-top: 20px solid transparent;
					    border-left: 30px solid black;
					    border-bottom: 20px solid transparent;
					}
					
				}
				

			}
			
		}
		.tip-content {
			background: $black;
			display: none;
			height: 80vh;
			width: 100%;
			
			&.open{
				display block;
				position: absolute;
				top 0;
				left: 0;
				margin: 0;
			}
			
			.vimeo-content {
				iframe{
					min-height: 640px;
				}
			}
			
			.tip1-content {
				padding: 2em;
				color: $white;
				
			.movie-tips {
					padding-bottom: 2em;
					float:left

					h2 {
						font-size: 12pt;
						text-transform: uppercase;
						border-bottom 2px solid $black;
						line-height: 40px;
					}
					
					.movie-posters {
						height: 200px;
					}
				}
			}
			
			.share-tip {
				float: left;
				padding-top: 2em;
				
				h2 {
					color: $white;
					font-size: 12pt;
					text-transform: uppercase;
				}
				
				input {
					border: none;
					border-radius: 2px;
					height: 28px;
					width: 140px;
				}
				
				input::-webkit-input-placeholder { WebKit browsers
						padding-left: 0.5em;
				}
				
				.socialmedia-icons {
					float: right;
					margin-top: -5px;
					
					img {
						width: 35px;
						height: 35px;
						padding: 3px 5px 3px 3px;
					}
				}
			}
			
			.next-tip {
				text-transform: uppercase;
				font-weight: bold;
				color: $white;
				margin-top: 250px;
				border-bottom: 2px solid $yellow;
	    		width: 170px;
	    		
	    		a {
	    			text-decoration: none;
	    		}
				
				.next-tip-text {
					color: $white;
					margin-bottom: 10px;
				}
				
				.play {
					background: $black;
					float: left;
				    border-top: 15px solid transparent;
				    border-left: 25px solid $yellow;
				    border-bottom: 15px solid transparent;
				}
				
				.next-tip-teaser {
					color: $yellow;
					margin-top: -10px;
				    margin-left: 30px;
				    font-size: 30pt;
				}
			}
		}
}
*/
/*******************************************************/
/********************** INSTAGRAM **********************/
/*******************************************************/

.instagram-feed {	
	.top-content {		
		
		.hashtag-box {
			display: block;
			text-align: center;
			
			.hashtag-info {
				width: 100%;
			}
		}
		
		.instagram-box {
			width: 100%;
			
			.all-images {		
				a {
					position: relative;
					float: left;
					width: 12.5%;
					padding-bottom: 12.5%;
					
					img,span {
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}
	
	&:after {
		clear: both;
		content: '';
		display: table;
	}
}



/*******************************************************/
/*********************** WELCOME ***********************/
/*******************************************************/

.text-block {
	padding: 3%;
	font-family: $condensed_font;
	font-weight: 300;
		p {
			padding-bottom: 1em;
			font-size: 1.7em;
			line-height: 1.8em;
		}
}




/*******************************************************/
/********************* COMPONENTS **********************/
/*******************************************************/
.call-to-action{
	text-align:center;
}

/*******************************************************/
/************************ DATES ************************/
/*******************************************************/
.dates {	
	.dates-content {
		padding: 3%;
		max-width: 600px;
	}
}

/*******************************************************/
/*********************** FOOTER ************************/
/*******************************************************/

.footer-content {
	padding: 5%;
		
	.footer-logo{
		display: inline-block;
		margin: 3em 1em;
		width: 20%;
	}
	
	.logo-vinnovera {
		background: url("../images/vinnovera_logo.svg") no-repeat center center;
	}
}