/*******************************************************/
/************************ MENU *************************/
/*******************************************************/

.main-menu {
	display: none;
}


/*******************************************************/
/********************** INSTAGRAM **********************/
/*******************************************************/

.instagram-feed {	
	.top-content {	
		.about-info {
			padding: 0 10% 10% 10%;
			width: 80%;
		}
		
		
		.instagram-box {
			overflow-x: scroll;
			
			img {
				height: 150px;
				width: 150px;
			}
			
			.all-images {
				width: 3600px;
		
				.more-images {
					height: 150px;
					width: 150px;
				}
			}		
		}
	}
}


/*******************************************************/
/************************ DATES ************************/
/*******************************************************/

.dates-content {
	background: $yellow;
	
	a {
		text-decoration: none;
		color: $black;
	}
	
	p {
		font-size: 20pt;
		padding: 10%;
		text-transform: uppercase;
		line-height: 35px;
	}

}



