/*******************************************************/
/************************ MENU *************************/
/*******************************************************/

.main-menu {
	display: none;
}

.share-tip{
	input{
		display: none;
	}
	
}

/*******************************************************/
/********************** INSTAGRAM **********************/
/*******************************************************/

.instagram-feed {	
	.top-content {
		position: relative;	
		.about-info {
			padding: 163px 10% 10% 10%;
			width: 80%;
		}
		
		
		.instagram-box {
			overflow-x: scroll;
			position: absolute;
			top: 100px;
			width: 100%;	
			
			img {
				height: 140px;
				width: 140px;
			}
			
			.all-images {
				width: (140*24)px;
		
				.more-images {
					height: 140px;
					width: 140px;
				}
			}		
		}
	}
}



.call-to-action {
	text-align: left;
}