/*******************************************************/
/********************** INSTAGRAM **********************/
/*******************************************************/




.movie-tips	.related-movies .movie{
				margin: 0 10%;
				width: 100%;		
}