/*******************************************************/
/************************ MENU *************************/
/*******************************************************/

.main-menu {
	display: none;
}

/*******************************************************/
/*********************** HEADER ************************/
/*******************************************************/

.intro {
	
	.intro-content {
		width: 100%;
		position: relative;
		height: 100%;
	}
}

/*******************************************************/
/********************** INSTAGRAM **********************/
/*******************************************************/

.instagram-feed {
	background: $black;
	
	.top-content {
		
		.hashtag-info {
			text-transform: uppercase;
			font-size: 30pt;
			padding-top: 1em;
			padding-bottom: 1em;
			color: $red;
			text-align: center;
		}
		
		.image-feed {
			background: $white;
			height: 40vh;
		}
		
		.about-text {
			font-size: 36pt;
			color: $white;
			margin: 0 auto;
			line-height: 60px;
			padding: 5%;
		}
	}
}

/*******************************************************/
/************************ DATES ************************/
/*******************************************************/

.dates-content {
	
	a {
		text-decoration: none;
		color: $black;
	}
	
	p {
		font-size: 35pt;
		padding: 10%;
		text-transform: uppercase;
		line-height: 60px;
	}

}



/*******************************************************/
/*********************** FOOTER ************************/
/*******************************************************/

.footer-content {
	background: $red;
	height: 80vh;
	
	
	h2 {
		font-size: 28pt;
		padding-top: 2em;
		text-align: center;
		margin: 0 auto;
		color: $white;
	}
	
	.logo-smicker {
		display: block;
		margin-top: 6em;
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.logo-vinnovera {
		display: block;
		margin-top: 3em;
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
}