/*******************************************************/
/************************ MENU *************************/
/*******************************************************/

.main-menu {
	display: none;
}

/*******************************************************/
/*********************** HEADER ************************/
/*******************************************************/

.intro {
	background: url("../images/intro-background.jpg") no-repeat 50%;
	background-size: cover;
	padding-top: 1em;
	padding-bottom: 4em;
	
	.intro-content {
		width: 100%;
		position: relative;
		height: 100%;

		.top-logo {
			width: 20%;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		
		.mid-logo {
			width: 70%;
			padding: 2%;
			display: block;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
		}
		
		.intro-text {
			padding: 22% 11% 0% 11%;
			text-align: center;
			font-size: 22pt;
			width: 70%;
			margin-left: auto;
			margin-right: auto;
			color: $yellow;
			font-style:italic;
			font-weight: bold;
		}
	
		.intro-text-bottom {
			padding: 2%;
			font-size: 22pt;
			text-align: center;
			width: 70%;
			margin-left: auto;
			margin-right: auto;
			color: $yellow;
			font-style:italic;
			font-weight: bold;
			
		}
	
		button {
			display: none;
		}
	}
}

/*******************************************************/
/*********************** WELCOME ***********************/
/*******************************************************/

.welcome {
	background: $black;

	.top-content {
		text-transform: uppercase;
		background: $red;
		font-size: 18pt;
		font-weight: bold;
	}
	
	.ready-text {
		text-align: center;
		padding-top: 1em;
		padding-bottom: 1em;
	}

	.welcome-content {
		color: $white;
		padding-top: 5em;
		padding-bottom: 5em;
		
		h2 {
			font-size: 33pt;
			color: $turquoise;
			padding: 5%;
			margin: 0;
		}
		
		p {
			padding: 0% 5% 3% 5%;
			font-size: 15pt;
		}
		
		.arrow-down {
			display: none;
		}
		
		.arrowdown-text {
			display: none;
		}
	}
}

/*******************************************************/
/************************* TIPS ************************/
/*******************************************************/

.tips {
	background: $red;
	
	.tips-text {
		text-align: center;
		color: $white;
		padding: 20px;
		font-size: 30pt;
		font-family: "Verlag A", "Verlag B";
	}
	
	.tips-content {
		background: url("../images/stills/anders_gladjen_raw_still_v1.jpg") no-repeat center;
		background-size: cover;
		display: inline-block;
		margin: 5%;
		height: 400px;
		width: 90%;
		color: $white;
		
		&:nth-of-type(2) {
			background: url("../images/stills/marianne_graten_raw_still_v1.jpg") no-repeat center;
			background-size: cover;
		}
		
		&:nth-of-type(3) {
			background: url("../images/stills/derrick_skracken_raw_still_v1.jpg ") no-repeat center;
			background-size: cover;
		}
		
		&:nth-of-type(4) {
			background: url("../images/stills/marianne_ilskan_raw_still_v1.jpg") no-repeat center;
			background-size: cover;
		}
		
		&:nth-of-type(5) {
			background: url("../images/stills/micke_stressen_raw_still_v1.jpg") no-repeat center;
			background-size: cover;
		}
		
		&:nth-of-type(6) {
			background: url("../images/stills/anders_gladjen_raw_still_v1.jpg") no-repeat center;
			background-size: cover;
		}
		
		.number-box {
			display: block;
			position: relative;
			top: 60%;
			margin-left: -38px;
			text-align: center;
			font-size: 29pt;
			font-family: "Verlag A", "Verlag B";
			background: $black;
			width: 50px;
			height: 50px;
		}
		
		.text-box {
			position: relative;
			float: left;
			margin-left: 50px;
			top: 47.2%;
			width: 200px;
			font-size: 15pt;
			height: 50px;
			background: $red;
			color: $white;
			
			.play {
				margin: 5px 8px;
				background: $red;
				float: left;
			    border-top: 20px solid transparent;
			    border-left: 22px solid $white;
			    border-bottom: 20px solid transparent;
			}
			
			p {
				float: left;
				text-align: center;
				font-size: 24pt;
				margin-top: 5px;

			}
		}
	}
}

/*******************************************************/
/********************** INSTAGRAM **********************/
/*******************************************************/

.instagram-feed {	
	.top-content {		
		.about-info {
			padding: 0 10% 10% 10%;
			width: 80%;
		}
		
		.hashtag-box {
			width: 80%;
			padding: 10%;
		}
		
		.instagram-box {
			overflow-x: scroll;
			
			.all-images {
				width: 3600px;
		
				.more-images {
					height: 150px;
					line-height: 150px;
					width: 150px;
				}
			}		
		}
	}
}

/*******************************************************/
/************************ DATES ************************/
/*******************************************************/

.dates-content {
	
	a {
		text-decoration: none;
		color: $black;
	}
	
	p {
		font-size: 35pt;
		padding: 10%;
		text-transform: uppercase;
		line-height: 60px;
	}

}



/*******************************************************/
/*********************** FOOTER ************************/
/*******************************************************/

.footer-content {
	background: $red;
	height: 80vh;
	
	
	h2 {
		font-size: 28pt;
		padding-top: 2em;
		text-align: center;
		margin: 0 auto;
		color: $white;
	}
	
	.logo-smicker {
		display: block;
		margin-top: 6em;
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.logo-vinnovera {
		display: block;
		margin-top: 3em;
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
}