/*******************************************************/
/************************ MENU *************************/
/*******************************************************/

.main-menu {
	display: none;
}

/*******************************************************/
/*********************** HEADER ************************/
/*******************************************************/

.intro {
	
	.intro-content {
		width: 100%;
		position: relative;
		height: 100%;
	}
}

/*******************************************************/
/********************** INSTAGRAM **********************/
/*******************************************************/

.instagram-feed {	
	.top-content {		
		.about-info {
			padding: 0 10% 10% 10%;
			width: 80%;
		}
		
		.hashtag-box {
			width: 80%;
			padding: 10%;
		}
		
		.instagram-box {
			overflow-x: scroll;
			
			.all-images {
				width: 3600px;
		
				.more-images {
					height: 150px;
					width: 150px;
				}
			}		
		}
	}
}

/*******************************************************/
/************************ DATES ************************/
/*******************************************************/

.dates-content {
	
	a {
		text-decoration: none;
		color: $black;
	}
	
	p {
		font-size: 35pt;
		padding: 10%;
		text-transform: uppercase;
		line-height: 60px;
	}

}
